@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 249, 250, 251;
  --background-rgb: 31, 41, 55;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium transition-colors;
  }
  
  .btn-primary {
    @apply bg-primary hover:bg-primary/90 text-white;
  }
  
  .btn-secondary {
    @apply bg-secondary hover:bg-secondary/90 text-white;
  }
}